<main>
  <header>
    <div class="container">
      <section class="logo col-3">
        <a href="#"><img src="assets/svg/logo.svg" alt="logo" /></a>
      </section>
      <section class="nav-items col-6">
        <ul id="nav-mid">
          <li><a href="/inicio">Início</a></li>
          <li><a href="/servicos">Serviços</a></li>
          <li><a href="/medicos">Médicos(as)</a></li>
          <li><a href="/inicio">Contato</a></li>
        </ul>
      </section>
      <section class="entrar col-3">
        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
          <a href="/profile"><img class="profile-image-header"
              [src]="userProfile?.foto || 'caminho/para/imagem/default'" alt="Foto de perfil"
              (click)="goToProfile()"></a>
        </ng-container>
        <ng-template #notLoggedIn>
          <a (click)="navigate()" class="entrar-button">Entrar</a>
        </ng-template>
      </section>
    </div>
  </header>

  <section class="medico-detail" *ngIf="medico">
    <section class="column-esquerda">
      <section class="row-1">
        <article>
          <img [src]="medico.foto || 'caminho/para/imagem/default'" alt="Foto do médico" class="foto-medico">
        </article>

        <article class="dados-medico">
          <h2 class="nome">{{ medico.name }}</h2>
          <h3 class="especialidade">{{ medico.especialidade }}</h3>
        </article>
      </section>

      <section class="row-2">
        <article class="menu-sobre-avaliacoes">
          <a class="menu-sobre" [ngClass]="{ 'active': activeSection === 'sobre' }" (click)="setActiveSection('sobre')">Sobre</a>
          <a class="menu-avaliacoes" [ngClass]="{ 'active': activeSection === 'avaliacoes' }" (click)="setActiveSection('avaliacoes')">Avaliações</a>
        </article>
        <hr class="styled-line">
        <article class="sobre" *ngIf="activeSection === 'sobre'">
          <p class="sobre-titulo">Sobre o<span class="sobre-medico"> {{ medico.name}}</span></p>
          <p>{{ medico.descricao }}</p>
          <p class="descricao-medico">{{ medico.name }} é um(a) renomado(a) {{ medico.especialidade }} com especialização em terapias manuais e reabilitação neuromusculoesquelética. Com mais de uma década de experiência clínica, {{ medico.name }} é conhecido(a) por sua abordagem holística no tratamento de pacientes, combinando técnicas avançadas e um cuidado personalizado para promover a recuperação e o bem-estar geral.
            Formado(a) pela prestigiada Universidade de São Paulo, ele(a) continuou seus estudos em diversas instituições internacionais, aprimorando suas habilidades em terapias inovadoras.</p>
        </article>

        <article class="avaliacao" *ngIf="activeSection === 'avaliacoes'">
          <!-- Conteúdo da seção de Avaliações -->
        </article>
      </section>
    </section>

    <section class="column-direita">
      <article>
        <p class="preco">Preço da Consulta: <span class="preco-bold">R$ 100,00</span></p>
        <h2 class="horario-atend">Horário de Atendimento:</h2>
        <p class="horario">Segunda a Sexta:  07:00 as 17:00</p>
        <p class="endereco">Endereço: {{ medico.endereco }}</p>
        <button class="btn-agendar-consulta">Agendar Consulta</button>
      </article>
    </section>
  </section>

  <footer>
    <article class="footer-column-1">
      <a href="/inicio" class="footer-img"><img src="../../../assets/svg/logo.svg" alt="logo"></a>
      <img src="../../../assets/svg/redes-sociais.svg" alt="redes-sociais">
    </article>
    <article class="footer-column-2">
      <h3>Links</h3>
      <ul>
        <li><a href="/inicio">Início</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/medicos">Médicos(as)</a></li>
        <li><a href="/inicio">Contato</a></li>
      </ul>
    </article>
    <article class="footer-column-3">
      <h3>Eu quero:</h3>
      <ul>
        <li><a href="/medicos">Encontrar um Médico(a)</a></li>
        <li><a href="/medicos">Solicitar uma Consulta</a></li>
      </ul>
    </article>
  </footer>
</main>
