.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 100%; /* Torna a imagem redonda */
    object-fit: cover; /* Ajusta a imagem para cobrir totalmente o espaço disponível */
  }
  