<main>
    <header>
        <div class="container">
            <section class="logo col-3">
                <a href="#"><img src="assets/svg/logo.svg" alt="logo" /></a>
            </section>
            <section class="nav-items col-6">
                <ul id="nav-mid">
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Médicos(as)</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </section>
            <section class="entrar col-3">
                <a (click)="navigate()" class="entrar-button">Entrar</a>
            </section>
        </div>
    </header>

    <section class="content">
        <section class="image-section">
            <img src="../../../assets/svg/Médica 3 1.svg" alt="">
        </section>
        <section class="login">
            <h2>{{title}}</h2>
            <ng-content></ng-content>
            <button 
                class="btn-login" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >
                {{primaryBtnText}}
            </button>
            <div class="signup-bottom">
                <span>Já possui uma conta?</span>
                <a class="signup-link" (click)="navigate()">{{secondaryBtnText}}</a>
            </div>
        </section>
    </section>
</main>
