@import "../../../styles/variables.scss";

main {
  height: 100%;

  // Header 
  header {
      width: 100%;
      margin-top: 20px;
  }

  .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
  }

  header a {
      font-family: 'Outfit400', sans-serif;
      font-size: 20px;
      color: $text-color;
      text-decoration: none;
      transition: color 0.3s ease; 
  }

  .logo {
      margin-right: 100px; 
  }

  .logo img {
      max-width: 100%;
      height: auto;
  }

  .nav-items ul,
  .login ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .nav-items ul li,
  .login ul li {
      display: inline;
      margin-right: 20px;
  }

  .nav-items ul li:last-child,
  .login ul li:last-child {
      margin-right: 0;
  }

  .nav-items {
      margin-right: auto;
  }

  .nav-items ul li {
      padding: 0px 15px;
  }

  .nav-items ul li a:hover {
      color: $primary-color; 
  }
  

  .entrar {
      margin-left: auto;
  }

  .entrar a {
      color: $secondary-text-color;
  }

  .entrar-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: $primary-color; 
      text-decoration: none; 
      border-radius: 20px;
  }

  .entrar-button:hover {
      background-color: rgb(3, 91, 185);
  }
///////////////////////////
  
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
  
      .image-section {
        flex: 1;
  
        img {
          max-width: 100%;
        }
      }
  
      .profile {
        flex: 1;
        padding: 20px;
  
        h2 {
          margin-bottom: 20px;
        }

        .btn-logout {
          background-color: black;
          color: white;
          cursor: pointer;
          margin-top: 20px;
          padding: 10px 20px;
          border: none;
          border-radius: 4px;
          font-size: 16px;
        }      
  
        .btn-save {
          margin-top: 20px;
          padding: 10px 20px;
          background-color: #007bff;
          color: #fff;
          border: none;
          cursor: pointer;
          border-radius: 4px;
          font-size: 16px;
  
          &:disabled {
            background-color: #d6d6d6;
            cursor: not-allowed;
          }
        }
      }
    }

    //Perfil

    .perfil {
      display: flex;
    }

    //Perfil
  }
  