<main>
  <header>
    <div class="container">
        <section class="logo col-3">
            <a href="#"><img src="assets/svg/logo.svg" alt="logo" /></a>
        </section>
        <section class="nav-items col-6">
            <ul id="nav-mid">
                <li><a href="#">Início</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Médicos(as)</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </section>
        <section class="entrar col-3">
            <a  (click)="navigate()" class="entrar-button">Entrar</a>
        </section>
    </div>
</header>
<!-- Section perfil -->

<section class="perfil">
  <section class="esquerda-perfil">
    <img src="" alt="">
    <p>Nome</p>
    <p>E-mail</p>
    <p>Tipo Sanguíneo</p>
    <button class="btn-save" (click)="saveProfile()" [disabled]="disablePrimaryBtn">
      {{ primaryBtnText }}
    </button>
    <button class="btn-logout" (click)="logout()">
      Sair
    </button>
  </section>

  <section class="direita-perfil">
    <div class="menu-perfil"></div>
    <h2>{{ title }}</h2>
      <ng-content></ng-content>
  </section>
</section>

<!-- Section perfil -->


  <!-- <section class="content">
    <section class="profile">
      <h2>{{ title }}</h2>
      <ng-content></ng-content>
      <button class="btn-save" (click)="saveProfile()" [disabled]="disablePrimaryBtn">
        {{ primaryBtnText }}
      </button>
      <button class="btn-logout" (click)="logout()">
        Sair
      </button>
    </section>
  </section> -->
</main>
